@charset "UTF-8";
/*Reseteo de HTML5*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/*Cabecera*/
/*Variables que habitualmente comparten todos los html*/
/*Mapas*/
/*Aplicado en _contenidoprincipal.scss:

.boton-main
.buscar-boton
.buscar-boton2
*/
/*Extensiones - Extends*/
/*  % = placeholder */
/*Aplicado en _footer.scss:

.tituloh5-horario
.tituloh5-newsletter
.tituloh5-contacto
.copyright*/
.servicio-club .parrafo-servicio2, .servicio-club .titulo-servicio2, .servicio-club, .servicio-guarderia .parrafo-servicio1, .servicio-guarderia .titulo-servicio1, .servicio-guarderia, .footer-fondo .copyright, .footer-fondo .tituloh5-contacto, .footer-fondo .tituloh5-newsletter, .footer-fondo .tituloh5-horario {
  display: flex;
  justify-content: left;
}

/*Aplicado en _contenidoprincipal.scss:

.fondo-principal
.titulo-h2
*/
.seccion-principal .fondo-principal .titulo-h2, .seccion-principal .fondo-principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Mixins*/
/*Aplicado en _cabecera.scss:
.section-cabecera
.titulo-h1
.imagen-logo
*/
.cabecera {
  background-color: white;
  /*Navegable*/
}
.cabecera .section-cabecera {
  font-family: "Fredoka One", cursive;
  margin: 10px;
  justify-content: center;
  display: flex;
  justify-items: center;
}
.cabecera .section-cabecera .titulo-h1 {
  font-size: 8rem;
  justify-content: center;
  display: flex;
  display: inline;
  align-items: center;
  color: #019267;
}
.cabecera .section-cabecera .imagen-logo {
  width: 200px;
  height: 200px;
  justify-content: center;
  display: flex;
  align-items: center;
  display: inline;
}
.cabecera .menu-navegable {
  background-color: whitesmoke;
  margin-top: 10px;
}
.cabecera .menu-navegable .li-navegable {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  padding: 8px;
}
.cabecera .menu-navegable .li-navegable:hover {
  background-color: #019267;
  padding: auto;
}
.cabecera .menu-navegable .buscar-boton {
  outline: none;
  border: solid 1px #019267;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}
.cabecera .menu-navegable .buscar-boton2 {
  color: #019267;
  border-color: #019267;
  font-family: "Poppins", sans-serif;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.cabecera .menu-navegable .buscar-boton2:hover {
  background-color: #FF7BA9;
  border: solid #FF7BA9;
  color: white;
}

/*Variables que habitualmente comparten todos los html*/
/*Font Family*/
.tituloh5-horario {
  font-size: 3rem;
}

/*Extensiones - Extends*/
/*  % = placeholder */
/*Aplicado en _footer.scss:

.tituloh5-horario
.tituloh5-newsletter
.tituloh5-contacto
.copyright*/
.servicio-club .parrafo-servicio2, .servicio-club .titulo-servicio2, .servicio-club, .servicio-guarderia .parrafo-servicio1, .servicio-guarderia .titulo-servicio1, .servicio-guarderia, .footer-fondo .copyright, .footer-fondo .tituloh5-contacto, .footer-fondo .tituloh5-newsletter, .footer-fondo .tituloh5-horario {
  display: flex;
  justify-content: left;
}

/*Aplicado en _contenidoprincipal.scss:

.fondo-principal
.titulo-h2
*/
.seccion-principal .fondo-principal .titulo-h2, .seccion-principal .fondo-principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-fondo {
  background-color: whitesmoke;
  /*Redes SOciales*/
  /*Sección Copyright*/
}
.footer-fondo .tituloh5-horario {
  font-size: 3rem;
  color: #019267;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
}
.footer-fondo .menu-horarios {
  margin-left: 20px;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.footer-fondo .menu-horarios .li-menuhorarios {
  list-style: none;
}
.footer-fondo .tituloh5-newsletter {
  font-size: 3rem;
  color: #019267;
  font-weight: bold;
  margin-top: 20px;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
}
.footer-fondo .parrafo-newsletter {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding-top: 20px;
}
.footer-fondo .texto-newsletter {
  outline: none;
  border: solid 2px #FF7BA9;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.footer-fondo .boton-suscribite {
  background-color: #FF7BA9;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border: solid 2px #FF7BA9;
  font-size: 20px;
}
.footer-fondo .tituloh5-contacto {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: #019267;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 20px;
  margin-top: 20px;
}
.footer-fondo .menu-contacto {
  padding: 20px;
  font-family: "Poppins", sans-serif;
}
.footer-fondo .menu-contacto .li-contacto {
  font-size: 20px;
  list-style: none;
}
.footer-fondo .menu-contacto .li-contacto .strong-contacto {
  color: #FF7BA9;
  font-weight: bold;
  text-shadow: black 1px;
}
.footer-fondo .redes-sociales {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin: 20px;
}
.footer-fondo .redes-sociales .whatsapp-1 {
  display: flex;
  align-items: right;
  height: 30px;
}
.footer-fondo .copyright {
  font-family: "Poppins", sans-serif;
  margin-left: 10px;
  color: black;
  font-size: 1rem;
  background: rgb(251, 251, 251);
  background: linear-gradient(90deg, rgb(251, 251, 251) 0%, rgba(45, 179, 139, 0.4462827367) 54%, rgb(1, 146, 103) 100%);
}
.footer-fondo .copyright .titulo-h6 {
  font-size: 1rem;
  align-items: left;
  margin-left: 10px;
}

/*Mapas*/
/*Aplicado en _contenidoprincipal.scss:

.boton-main
.buscar-boton
.buscar-boton2
*/
/*Extensiones - Extends*/
/*  % = placeholder */
/*Aplicado en _footer.scss:

.tituloh5-horario
.tituloh5-newsletter
.tituloh5-contacto
.copyright*/
.servicio-club .parrafo-servicio2, .servicio-club .titulo-servicio2, .servicio-club, .servicio-guarderia .parrafo-servicio1, .servicio-guarderia .titulo-servicio1, .servicio-guarderia, .footer-fondo .tituloh5-horario, .footer-fondo .tituloh5-newsletter, .footer-fondo .tituloh5-contacto, .footer-fondo .copyright {
  display: flex;
  justify-content: left;
}

/*Aplicado en _contenidoprincipal.scss:

.fondo-principal
.titulo-h2
*/
.seccion-principal .fondo-principal .titulo-h2, .seccion-principal .fondo-principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion-principal {
  background-color: #019267;
  background-size: cover;
  position: relative;
}
.seccion-principal .fondo-principal .titulo-h2 {
  background-color: white;
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  color: #019267;
  padding: 20px;
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
}
.seccion-principal .fondo-principal .parrafo-h2 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  background-color: white;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}
.seccion-principal .fondo-principal .boton-main {
  background-color: #FF7BA9;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #FF7BA9;
  box-shadow: inset white;
  font-size: 3rem;
  margin-top: 5%;
  margin-bottom: 10%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.seccion-principal .fondo-principal .boton-main:hover {
  background-color: white;
  color: #FF7BA9;
  border: solid 1px #FF7BA9;
}

/*Variables que habitualmente comparten todos los html*/
/*Mapas*/
/*Aplicado en _contenidoprincipal.scss:

.boton-main
.buscar-boton
.buscar-boton2
*/
/*Extensiones - Extends*/
/*  % = placeholder */
/*Aplicado en _footer.scss:

.tituloh5-horario
.tituloh5-newsletter
.tituloh5-contacto
.copyright*/
.servicio-club .parrafo-servicio2, .servicio-club .titulo-servicio2, .servicio-club, .servicio-guarderia .parrafo-servicio1, .servicio-guarderia .titulo-servicio1, .servicio-guarderia, .footer-fondo .tituloh5-horario, .footer-fondo .tituloh5-newsletter, .footer-fondo .tituloh5-contacto, .footer-fondo .copyright {
  display: flex;
  justify-content: left;
}

/*Aplicado en _contenidoprincipal.scss:

.fondo-principal
.titulo-h2
*/
.seccion-principal .fondo-principal, .seccion-principal .fondo-principal .titulo-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Mixins*/
/*Aplicado en _cabecera.scss:
.section-cabecera
.titulo-h1
.imagen-logo
*/
/*Variables que habitualmente comparten todos los html*/
/*Font Family*/
.tituloh5-horario {
  font-size: 3rem;
}

/*Extensiones - Extends*/
/*  % = placeholder */
/*Aplicado en _footer.scss:

.tituloh5-horario
.tituloh5-newsletter
.tituloh5-contacto
.copyright*/
.servicio-club .parrafo-servicio2, .servicio-club .titulo-servicio2, .servicio-club, .servicio-guarderia .parrafo-servicio1, .servicio-guarderia .titulo-servicio1, .servicio-guarderia, .footer-fondo .tituloh5-horario, .footer-fondo .tituloh5-newsletter, .footer-fondo .tituloh5-contacto, .footer-fondo .copyright {
  display: flex;
  justify-content: left;
}

/*Aplicado en _contenidoprincipal.scss:

.fondo-principal
.titulo-h2
*/
.seccion-principal .fondo-principal, .seccion-principal .fondo-principal .titulo-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Mapas*/
/*Aplicado en _contenidoprincipal.scss:

.boton-main
.buscar-boton
.buscar-boton2
*/
/*Mixins*/
/*Aplicado en _cabecera.scss:
.section-cabecera
.titulo-h1
.imagen-logo
*/
/*MAIN - Nosotros*/
.tituloh2-sobrenosotros {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  color: #019267;
  padding: 20px;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

.parrafo-sobrenosotros {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}
.parrafo-sobrenosotros .venia-conocernos {
  color: #FF7BA9;
  font-size: 3rem;
}

.trabajador-1 {
  width: 200px;
  margin-top: 50px;
  margin-left: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #019267;
  padding: 3px;
}

.tituloh3-sobrenosotros1 {
  font-family: "Poppins", sans-serif;
  color: #019267;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.parrafosilvia-nosotros {
  font-family: "Poppins", sans-serif;
  color: black;
  padding-top: 20px;
  font-size: 15px;
  text-align: left;
  margin-right: 10px;
}

.trabajador-2 {
  width: 200px;
  margin-top: 50px;
  margin-left: 70px;
  margin-bottom: 20px;
  padding: 3px;
  background-color: #019267;
}

.tituloh3-sobrenosotros2 {
  font-family: "Poppins", sans-serif;
  color: #019267;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 50px;
}

.parrafodaniel-nosotros {
  font-family: "Poppins", sans-serif;
  color: black;
  padding-top: 20px;
  font-size: 15px;
  text-align: left;
  margin-right: 10px;
  padding-bottom: 20px;
}

/*Variables que habitualmente comparten todos los html*/
/*Font Family*/
.tituloh5-horario {
  font-size: 3rem;
}

/*Extensiones - Extends*/
/*  % = placeholder */
/*Aplicado en _footer.scss:

.tituloh5-horario
.tituloh5-newsletter
.tituloh5-contacto
.copyright*/
.servicio-club .parrafo-servicio2, .servicio-club .titulo-servicio2, .servicio-club, .servicio-guarderia .parrafo-servicio1, .servicio-guarderia .titulo-servicio1, .servicio-guarderia, .footer-fondo .tituloh5-horario, .footer-fondo .tituloh5-newsletter, .footer-fondo .tituloh5-contacto, .footer-fondo .copyright {
  display: flex;
  justify-content: left;
}

/*Aplicado en _contenidoprincipal.scss:

.fondo-principal
.titulo-h2
*/
.seccion-principal .fondo-principal, .seccion-principal .fondo-principal .titulo-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Mapas*/
/*Aplicado en _contenidoprincipal.scss:

.boton-main
.buscar-boton
.buscar-boton2
*/
/*Mixins*/
/*Aplicado en _cabecera.scss:
.section-cabecera
.titulo-h1
.imagen-logo
*/
/*Main Servicios*/
.servicio-guarderia .servicio-1 {
  width: 500px;
  margin: 20px 0px 20px 20px;
  padding: 5px;
  background-color: #FF7BA9;
}
.servicio-guarderia .titulo-servicio1 {
  font-family: "Poppins", sans-serif;
  color: #019267;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 40px;
  padding-right: 50px;
}
.servicio-guarderia .parrafo-servicio1 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding-right: 20px;
  text-align: start;
}

.servicio-club .servicio-2 {
  width: 500px;
  margin: 20px 0px 20px 20px;
  padding: 5px;
  background-color: #FF7BA9;
}
.servicio-club .titulo-servicio2 {
  font-family: "Poppins", sans-serif;
  color: #019267;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 40px;
  padding-right: 50px;
}
.servicio-club .parrafo-servicio2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: start;
}

/*Variables que habitualmente comparten todos los html*/
/*Font Family*/
.tituloh5-horario {
  font-size: 3rem;
}

/*Extensiones - Extends*/
/*  % = placeholder */
/*Aplicado en _footer.scss:

.tituloh5-horario
.tituloh5-newsletter
.tituloh5-contacto
.copyright*/
.footer-fondo .tituloh5-horario, .footer-fondo .tituloh5-newsletter, .footer-fondo .tituloh5-contacto, .footer-fondo .copyright, .servicio-guarderia, .servicio-guarderia .titulo-servicio1, .servicio-guarderia .parrafo-servicio1, .servicio-club, .servicio-club .titulo-servicio2, .servicio-club .parrafo-servicio2 {
  display: flex;
  justify-content: left;
}

/*Aplicado en _contenidoprincipal.scss:

.fondo-principal
.titulo-h2
*/
.seccion-principal .fondo-principal, .seccion-principal .fondo-principal .titulo-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Mapas*/
/*Aplicado en _contenidoprincipal.scss:

.boton-main
.buscar-boton
.buscar-boton2
*/
/*Mixins*/
/*Aplicado en _cabecera.scss:
.section-cabecera
.titulo-h1
.imagen-logo
*/
/*MAIN - Preguntas Frecuentes*/
.fondo-preguntasfrecuentes .padding-preguntasfrecuentes .tituloh3-preguntas {
  font-family: "Poppins", sans-serif;
  color: #019267;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 40px;
}
.fondo-preguntasfrecuentes .padding-preguntasfrecuentes .titulos-preguntas {
  font-family: "Poppins", sans-serif;
  color: #FF7BA9;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}
.fondo-preguntasfrecuentes .padding-preguntasfrecuentes .respuestas-preguntas {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 20px;
}

/*Variables que habitualmente comparten todos los html*/
/*Font Family*/
.tituloh5-horario {
  font-size: 3rem;
}

/*Extensiones - Extends*/
/*  % = placeholder */
/*Aplicado en _footer.scss:

.tituloh5-horario
.tituloh5-newsletter
.tituloh5-contacto
.copyright*/
.footer-fondo .tituloh5-horario, .footer-fondo .tituloh5-newsletter, .footer-fondo .tituloh5-contacto, .footer-fondo .copyright, .servicio-guarderia, .servicio-guarderia .titulo-servicio1, .servicio-guarderia .parrafo-servicio1, .servicio-club, .servicio-club .titulo-servicio2, .servicio-club .parrafo-servicio2 {
  display: flex;
  justify-content: left;
}

/*Aplicado en _contenidoprincipal.scss:

.fondo-principal
.titulo-h2
*/
.seccion-principal .fondo-principal, .seccion-principal .fondo-principal .titulo-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Mapas*/
/*Aplicado en _contenidoprincipal.scss:

.boton-main
.buscar-boton
.buscar-boton2
*/
/*Mixins*/
/*Aplicado en _cabecera.scss:
.section-cabecera
.titulo-h1
.imagen-logo
*/
/*MAIN - Galeria*/
.main-galeria {
  background-color: #019267;
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 10px;
  margin-top: 1px;
  margin-left: 20px;
}
.main-galeria .fotos-galeria {
  margin-top: 10px;
  width: 350px;
  height: auto;
  background-color: white;
  padding: 5px;
}

/*Variables que habitualmente comparten todos los html*/
/*Font Family*/
.tituloh5-horario {
  font-size: 3rem;
}

/*Extensiones - Extends*/
/*  % = placeholder */
/*Aplicado en _footer.scss:

.tituloh5-horario
.tituloh5-newsletter
.tituloh5-contacto
.copyright*/
.footer-fondo .tituloh5-horario, .footer-fondo .tituloh5-newsletter, .footer-fondo .tituloh5-contacto, .footer-fondo .copyright, .servicio-guarderia, .servicio-guarderia .titulo-servicio1, .servicio-guarderia .parrafo-servicio1, .servicio-club, .servicio-club .titulo-servicio2, .servicio-club .parrafo-servicio2 {
  display: flex;
  justify-content: left;
}

/*Aplicado en _contenidoprincipal.scss:

.fondo-principal
.titulo-h2
*/
.seccion-principal .fondo-principal, .seccion-principal .fondo-principal .titulo-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Mapas*/
/*Aplicado en _contenidoprincipal.scss:

.boton-main
.buscar-boton
.buscar-boton2
*/
/*Mixins*/
/*Aplicado en _cabecera.scss:
.section-cabecera
.titulo-h1
.imagen-logo
*/
/*MAIN - Contacto*/
.fondo-contacto {
  margin: 20px;
}
.fondo-contacto .tituloh3-contactanos {
  font-family: "Poppins", sans-serif;
  color: #FF7BA9;
  font-weight: bold;
  font-size: 3rem;
  padding: 20px;
}
.fondo-contacto .detalle-campocontactanos {
  width: 50%;
  align-content: left;
  color: #019267;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}
.fondo-contacto .boton-elegirarchivo {
  color: #019267;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  padding: 5px;
  display: flex;
  align-content: left;
}
.fondo-contacto .botonenviar-contacto {
  color: white;
  background-color: #FF7BA9;
  border: #FF7BA9;
  margin-top: 15px;
  font-size: 2rem;
  margin-bottom: 20px;
}
.fondo-contacto .titulo-direccion {
  font-family: "Poppins", sans-serif;
  color: #019267;
  font-size: 2rem;
  margin-top: 10px;
}
.fondo-contacto .parrafo-direccion {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding-left: 20px;
}
.fondo-contacto .parrafo-direccion .titulo-direccion {
  font-family: "Poppins", sans-serif;
  color: #019267;
  font-size: 2rem;
  margin-top: 10px;
}
.fondo-contacto .mapa-contacto {
  width: 90%;
  height: 70%;
  list-style: none;
  margin-bottom: 20px;
  padding-left: 20px;
}
.fondo-contacto .whatsapp-fijo .whatsapp-btn {
  position: fixed;
  z-index: 999;
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  bottom: 10px;
  right: 10px;
  text-align: center;
  animation: efecto 1.2s infinite;
  border-radius: 50px;
  background-color: white;
}
.fondo-contacto .whatsapp-fijo .whatsapp-btn:hover {
  transform: scale(1.1);
}
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 3px #FF7BA9;
  }
}

/*# sourceMappingURL=style.css.map */
