/*Reseteo de HTML5*/
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

@import '../SCSS/components/cabecera';
@import '../SCSS/components/footer';
@import '../SCSS/components/contenidoprincipal';
@import '../SCSS/base/variables';
@import '../SCSS/base/mapas';
@import '../SCSS/base/extends';
@import '../SCSS/base/mixin';
@import '../SCSS/components/mainnosotros';
@import '../SCSS/components/mainservicios';
@import '../SCSS/components/mainfaqs';
@import '../SCSS/components/maingaleria';
@import '../SCSS/components/maincontacto';   

