/*Reseteo de HTML5*/
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/*Estilos de todos los HTML*/

/*----------------Header----------------*/

.cabecera {
    background-color: white;
}


.section-cabecera {
    font-family: 'Fredoka One', cursive;
    margin: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.titulo-h1 {
    font-size: 8rem;
    display: flex;
    justify-content: center;
    display: inline;
    align-items: center;
    color: #019267;
}


.imagen-logo {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline;
}

/*---------------------------Fin Header---------------------*/

/*--------------Zona Navegable------------------------------*/

.menu-navegable {
    background-color: whitesmoke;
    margin-top: 10px;
}

/*Li Individuales*/

.li-navegable {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
}

.li-navegable a:hover {
    background-color: #019267;
    padding: auto;
}

.buscar-boton {
    outline: none;
    border: solid 1px #019267;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

.buscar-boton2 {
    color: #019267;
    border-color: #019267;
    font-family: 'Poppins', sans-serif;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.buscar-boton2:hover {
    background-color: #FF7BA9;
    border: solid #FF7BA9;
    color: white;
}

/*------------------Fin zona Navegable----------------------*/

/*------------------Main- Sección Principal - INDEX.html----------------*/

.seccion-principal {
    background-color: #019267;
    background-size: cover;
    position: relative;
}

.fondo-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}


.titulo-h2 {
    background-color: white;
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    color: #019267;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 10%;

}


.parrafo-h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    background-color: white;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

/*Botón Conocenos*/

.boton-main {
    background-color: #FF7BA9;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #FF7BA9;
    box-shadow: inset white;
    font-size: 3rem;
    margin-top: 5%;
    margin-bottom: 10%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.boton-main:hover {
    background-color: white;
    color: #FF7BA9;
    border: solid 1px #FF7BA9;
}


/*------------------Fin Sección Principal - INDEX.html----------------------*/

/*Main Sección Principal - Nosotros*/

.trabajador-1 {
    width: 150px;
    padding-top: 50px;
    margin-left: 80px;
    display: flex;
    justify-content: left;
    align-items: center;


}

.trabajador-2 {
    width: 150px;
    padding-top: 50px;
    margin-left: 80px;
}

.tituloh2-sobrenosotros {
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    color: #019267;
    padding: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

.parrafo-sobrenosotros {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.venia-conocernos {
    color: #FF7BA9;
    font-size: 3rem;
}


.tituloh3-sobrenosotros1 {
    font-family: 'Poppins', sans-serif;
    color: #019267;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.parrafosilvia-nosotros {
    font-family: 'Poppins', sans-serif;
    color: black;
    padding-top: 20px;
    font-size: 15px;
    text-align: left;
    margin-right: 10px;
}

.tituloh3-sobrenosotros2 {
    font-family: 'Poppins', sans-serif;
    color: #019267;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 50px;
}

.parrafodaniel-nosotros {

    font-family: 'Poppins', sans-serif;
    color: black;
    padding-top: 20px;
    font-size: 15px;
    text-align: left;
    margin-right: 10px;
    padding-bottom: 20px;

}


/*Fin Main- Nosotros*/

/*Main Servicios*/

.servicio-1 {
    padding-top: 20px;
    padding-left: 20px;
}

.servicio-2 {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.servicio-guarderia {
    display: flex;
    justify-content: left;
}

.titulo-servicio1 {
    font-family: 'Poppins', sans-serif;
    color: #019267;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 40px;
    padding-right: 50px;
    display: flex;
    justify-content: left;

}

.parrafo-servicio1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: left;
    padding-right: 20px;
    text-align: start;

}

.titulo-servicio2 {
    font-family: 'Poppins', sans-serif;
    color: #019267;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 40px;
    padding-right: 50px;
    display: flex;
    justify-content: left;
}

.parrafo-servicio2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: left;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: start;
}

/*Fin sección principal Servicios.html*/

/*Main PREGUNTASFRECUENTES.html*/

.tituloh3-preguntas {
    font-family: 'Poppins', sans-serif;
    color: #019267;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 40px;
}

.titulos-preguntas {
    font-family: 'Poppins', sans-serif;
    color: #FF7BA9;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

.respuestas-preguntas {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 20px;

}


/*-------------Main- Sección Principal - GALERIA.html--------------*/

.fotos-galeria {
    width: 350px;
    height: auto;
    background-color: white;
    padding: 10px;

}

.main-galeria {
    background-color: #019267;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

/*-----Fin Sección Principal - GALERÍA.html----*/


/*-------------Main- Sección Principal - CONTACTO.html---------------------*/

.whatsapp-btn {
    position: fixed;
    z-index: 999;
    display: block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    bottom: 10px;
    right: 30px;
    text-align: center;
    animation: efecto 1.2s infinite;
    border-radius: 50px;
    background-color: white;

}

.whatsapp-btn:hover{
    transform: scale(1.1);
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 3px #FF7BA9;
    }
}





/*-----------Fin sección principal CONTACTO.html--------------------*/


/*------------------Footer-----------------------------------------*/

.footer-fondo {
    background-color: whitesmoke;

}


/*Horario de Atención*/

.tituloh5-horario {
    font-size: 3rem;
    color: #019267;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: left;
    font-family: 'Poppins', sans-serif;
}

.menu-horarios {
    margin-left: 20px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;

}


.li-menuhorarios {
    list-style: none;
}

/*Nuestro Newsletter*/

.tituloh5-newsletter {
    font-size: 3rem;
    color: #019267;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: left;
    font-family: 'Poppins', sans-serif;
}


.parrafo-newsletter {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-top: 20px;
}

.texto-newsletter {
    outline: none;
    border: solid 2px #FF7BA9;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.boton-suscribite {
    background-color: #FF7BA9;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border: solid 2px #FF7BA9;
    font-size: 20px;
}

/*Zona CONTACTO*/

.tituloh5-contacto {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: #019267;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: left;

}


.menu-contacto {
    padding: 20px;
    font-family: 'Poppins', sans-serif;

}


.li-contacto {
    font-size: 20px;
    list-style: none;
}

/*Redes Sociales*/

.redes-sociales {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin: 20px;
}

.strong-contacto {
    color: #FF7BA9;
    font-weight: bold;
    text-shadow: black 1px;


}

.whatsapp-1 {
    display: flex;
    align-items: right;
    height: 30px;
}

/*Copyright*/

.copyright {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: left;
    color: black;
    font-size: 1rem;

    /*-----Gradient-----*/

    background: rgb(251, 251, 251);
    background: linear-gradient(90deg, rgba(251, 251, 251, 1) 0%, rgba(45, 179, 139, 0.4462827367275035) 54%, rgba(1, 146, 103, 1) 100%);

}

.titulo-h6 {
    font-size: 1rem;
    align-items: left;
}

/*-----------FIN Footer--------------*/

/*Vista Mobile*/

@media (max-width: 576px) {

    header,
    nav,
    ul,
    main,
    footer,
    .galeria,
    .tituloh5-contacto {
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

@media (min-width:576px) and (max-width:992px) {

    header main,
    footer,
    .galeria,
    .tituloh5-contacto {
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}