/*Cabecera*/

@import '../base/variables';
@import '../base/mapas';
@import '../base/extends';
@import '../base/mixin';

.cabecera {

    background-color: $bg-color-header;

    .section-cabecera {
        font-family: 'Fredoka One', cursive;
        margin: 10px;
        @include justify (center, flex);
        justify-items: center;

        .titulo-h1 {
            font-size: 8rem;
            @include justify (center, flex);
            display: inline;
            align-items: center;
            color: $ft-color-titulo1;

        }

        .imagen-logo {
            width: 200px;
            height: 200px;
            @include justify (center, flex);
            align-items: center;
            display: inline;

        }
    }


    /*Navegable*/
    .menu-navegable {
        background-color: $bg-color-general;
        margin-top: 10px;


        .li-navegable {
            font-size: 20px;
            display: flex;
            justify-content: space-between;
            font-family: 'Poppins', sans-serif;
            padding: 8px;

            &:hover {
                background-color: $bg-color-main;
                padding: auto;
            }

        }

        .buscar-boton {

            outline: map-get($boton1, outline);
            border: map-get($boton1, border);
            font-family: 'Poppins', sans-serif;
            font-size: map-get($boton1, font-size-boton);

        }

        .buscar-boton2 {
            color: map-get($boton2, color-boton);
            border-color: map-get($boton2, border-boton);
            font-family: 'Poppins', sans-serif;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;

            &:hover {
                background-color: #FF7BA9;
                border: solid #FF7BA9;
                color: white;
            }

        }
    }
}