@import '../base/mapas';
@import '../base/extends';


.seccion-principal {

    background-color: #019267;
    background-size: cover;
    position: relative;

    .fondo-principal {
        @extend %main;


        .titulo-h2 {
            background-color: white;
            font-size: 5rem;
            font-family: 'Poppins', sans-serif;
            color: #019267;
            @extend %main;
            padding: 20px;
            margin-top: 8%;
            margin-left: 10%;
            margin-right: 10%;
        }

        .parrafo-h2 {
            font-family: 'Poppins', sans-serif;
            font-size: 4rem;
            background-color: white;
            text-align: center;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 5%;
        }

        .boton-main {
            background-color: map-get($boton-main, bg-botonmain);
            color: map-get($boton-main, color-boton);
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            display: map-get($boton-main, display);
            justify-content: map-get($boton-main, justify-boton);
            align-items: center;
            border: map-get($boton-main, border-botonmain);
            box-shadow: map-get($boton-main, shadow-boton);
            font-size: 3rem;
            margin-top: 5%;
            margin-bottom: 10%;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;

            &:hover {
                background-color: white;
                color: #FF7BA9;
                border: solid 1px #FF7BA9;
            }
        }
    }
}