
%flex{

    display: flex;
    justify-content: left;
    
}

/*Aplicado en _contenidoprincipal.scss:

.fondo-principal
.titulo-h2
*/

%main{
    display: flex;
    justify-content: center;
    align-items: center;
}